[Unit]
Description=coreOS test subject for iSCSI boot
After=local-fs.target
ConditionPathExists=/var/mnt/temp/boot.ipxe
After=network-online.target, setup-targetcli.service
Wants=network-online.target

[Container]
Image=quay.io/coreos-assembler/coreos-assembler
ContainerName=coreos-iscsi-boot
Network=host
Volume=/mnt/temp:/mnt/workdir
PodmanArgs=--privileged
Exec=shell -- kola qemuexec --netboot /mnt/workdir/boot.ipxe --usernet-addr 10.0.3.0/24

[Install]
# Start by default on boot
WantedBy=multi-user.target

[Service]
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
