[Unit]
Description=Setup targetcli
ConditionPathExists=/var/mnt/workdir-tmp/fcos.raw
Requires=target.service
After=target.service
ConditionFirstBoot=true

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/targetcli_script

[Install]
WantedBy=multi-user.target
