[Unit]
Description=Targetd container
Documentation=https://github.com/jbtrystram/targetcli-containers
After=local-fs.target
ConditionPathExists=/var/mnt/workdir-tmp
After=network-online.target
Wants=network-online.target

[Container]
Image=quay.io/jbtrystram/targetcli:latest
ContainerName=target
AddCapability=CAP_SYS_MODULE
Network=host
Volume=/lib/modules:/lib/modules
Volume=/sys/kernel/config:/sys/kernel/config
Volume=/dev/disk/by-id/virtio-target:/dev/disk/by-id/virtio-target
PodmanArgs=--privileged

[Install]
# Start by default on boot
WantedBy=multi-user.target

[Service]
# Extend Timeout to allow time to pull the image
TimeoutStartSec=900
